[submodule "Asteroid/Vendor/glad"]
    path = Asteroid/Vendor/glad
    url = https://github.com/Dav1dde/glad.git
    branch = c
[submodule "Asteroid/Vendor/glfw"]
    path = Asteroid/Vendor/glfw
    url = https://github.com/glfw/glfw.git
    branch = master
[submodule "Asteroid/Vendor/glm"]
    path = Asteroid/Vendor/glm
    url = https://github.com/g-truc/glm.git
    branch = master
